@import "../../styles/variables.scss";

.btn {
    color: red;
    text-transform: capitalize;
    border: 0;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
    border-radius: 5px;
    display: block;
    color: $menu-bgColor;
    background-color: $menu-btnColor;
    min-height: 2rem;
    min-width: 8rem;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }
}

.btn-menu {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
    margin: 0 auto;
}

.btn-form {
    min-width: 30rem;
    min-height: 3rem;
    color: white;
}