@import './mixins/label';
@import './mixins/boxSizing';
@import './variables.scss';

$width: 80%;
$height: 40px;
$inputPaddingHor: 10px;
$inputPaddingVert: 2px;

.SelectFieldContainer,
.TextFieldContainer {
    flex-direction: column;
    width: 100%;

    @include label-style();
    
    & select, input {
        @include box-sizing();
        width: $width;
        height: $height;
        background-color: white;
        border: 1px solid $form-border-color;
        padding: 0;
        color: $form-color;
        margin: auto;
    }

    & input, select {
        padding: $inputPaddingVert $inputPaddingHor;
        width: calc($width - ($inputPaddingHor) * 2);
        height: calc($height - ($inputPaddingVert) * 2);
    }
}

.SelectFieldContainer,
.TextFieldContainer {
    display: flex;
}

.InnerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    justify-items: center;
    padding: 50px;
    gap: 10px;
    align-items: center;

    & button {
        grid-column: span 3;
    }
}

.FormContainer {
    margin: 0 50px 50px 50px;
    background-color: white;
}