$menu-bgColor: #373737;
$menu-btnColor: #3c9bff;
$menu-subHeaderColor: #359bac;
$menu-HeaderColor: lightgray;
$form-color: gray;
$form-border-color: lightgray;
$create-bgColor: #d0dcec;
$even-row-bgColor: #b0daff;
$table-bgColor: ghostwhite;
$disabled-bgColor: #eaeaea;
$menuLock-bgColor: #ff9784;